name: Test Image

on:
  workflow_dispatch:

env:
  IMAGE_NAME: geyser
  TARGET_PLATFORM: 'linux/arm64'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/arm64

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ env.TARGET_PLATFORM }}
          tags: |
            ${{ env.IMAGE_NAME }}:test
          push: ${{ github.event.inputs.push_to_registry == 'true' }}
          outputs: type=docker,dest=/tmp/geyser.tar
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Save image as artifact
        uses: actions/upload-artifact@v4
        with:
          name: geyser
          path: /tmp/geyser.tar
          retention-days: 1
